<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mind game</title>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/jquery-3.5.1.min.js"></script>

    <script>
        var lobbyExecuteList = new Array();
        var gameHost = '<%=game.host%>';
        var username = '<%=username%>';
        var socket;

        // lobby loop
        var lobbyLoop = setInterval(function(){
            if(lobbyExecuteList.length > 0) {
                lobbyExecuteList.shift()();
            }
        }, 200)

        var btnStartClick = () => {
            lobbyExecuteList.push(() => {
                socket.emit('startGame');
            });
        };

        $(document).ready(() => {
            socket = io();

            // User events
            window.onbeforeunload = function (e) {
                socket.emit('playerLeave');
            };
            
            lobbyExecuteList.push(() => {
                socket.emit('playerJoin', { gameHost:gameHost, username:username });
            });
            
            // Socket events
            socket.on('err', (data) => {
                lobbyExecuteList.push(() => {
                    clearInterval(lobbyLoop);
                    alert(JSON.stringify(data));
                    window.location.href = "/";
                });
            });

            socket.on('playerJoin', (infos) => {
                lobbyExecuteList.push(() => {
                    var $li = $("<li/>");
                    $li.attr("data-player-name", infos.username);
                    $li.html(infos.username);

                    $("#player-list>ul").append($li);
                });
            });

            socket.on('playerLeave', (infos) => {
                lobbyExecuteList.push(() => {
                    $("#player-list>ul").find("[data-player-name=" + infos.username + "]").remove();
                });
            });

            // UI events
            $("#btn-start").click(btnStartClick);
        });


    </script>

    <div id="lobby">
        <div>welcome to the game of <%=game.host %> !</div>
        <div>Waiting for the host to start the game ...</div>
        <% if (username == game.host) { %>
            <div>
                <button id="btn-start">Start Game</button>
            </div>
        <% } %>
        <div>List of players in the game</div>
        <div id="player-list">
            <ul>
                <% var i =1; %>
                <% game.players.forEach((p) => { %>
                    <li data-player-name="<%=p.name %>">
                        <%=p.name %>
                    </li>
                    <% i++; %>
                <% }); %>
            </ul>
        </div>
        
    </div>





</body>